<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
	</title>
	<style>
	label {
		display: block;
		border: 1px solid black;
		margin: 1em 2em;
		padding: 1em 0.5em;
		background: white;
	}

	.answer {
		display: none;
		border: 0.5em solid lime;
		margin: 1em 2em;
		padding: 1em 0.5em;
	}

	input:checked ~ .answer {
		display: block;
	}
	</style>

</head>
<body>

You are in the street.
Are you facing an:

{% set increase = ["left", "right"] %}
{% for mod2 in ["even", "odd"] %}
<label>
	<input type="radio" name="side" value="{{ mod2 }}" id="{{ mod2 }}" />
	{{ mod2 | capitalize }} number?
	<br/>
	<img src="{{ mod2 }}.png" />


	<div class="answer">
		Street numbers increase on your {{ increase[loop.index0] }}:
		<br/>
		<img src="{{ mod2 }}-answer.png" />
	</div>
</label>


{% endfor %}

</body>
</html>
